<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NYT Scraper</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./images/NewsPaper_Favicon.png">
</head>

<body>
    <nav>
        <h2>New York Times Scraper</h2>
        <h3>Home</h3>
        <h4>Saved Articles</h4>
        <button id="scrape">SCRAPE NEWS ARTICLES!</button>
    </nav>

    <section id="body-layer">

        {{{body}}}
</section>
    <footer>

        <div class="footer-container">
            <a href="https://github.com/guthriet1230"><img id="github" src="./images/Footer/GithubLogo.png"></a>
            <a href="https://www.linkedin.com/in/tyler-guthrie-0a608857/"><img id="linkedin" src="./images/Footer/LinkedinLogo.jpg"></a>
            <a href="mailto:guthriet1230@gmail.com"><img id="gmail" src="./images/Footer/GmailLogo.png"></a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/app.js"></script>
{{!-- <script>
    console.log("helloworld")
$(document).on("click", "#scrape", function() {
    console.log("Clicked on scrape");
    // Empty the notes from the note section
    // Now make an ajax call for the Article
    $.get("/scrape")
      // With that done, add the note information to the page
      .then(function(data) {
        console.log(data);
        location.reload();
      });
  })

</script> --}}

</body>

</html>