<section id="title">
  <h1>New York Times Scraper</h1>
</section>

<section id="article-wrapper">

  {{#each article}}
  <div class="card">
    <p><span id="card-highlight">TITLE:</span> <br>{{this.title}}</p><br>
    <p><span id="card-highlight">SUMMARY:</span> <br>{{this.summary}}</p>

    <div id="button-div">
      <button href="{{this.link}}">Go to Article</button>
      <button class="note">Write a Note</button>
      </div>
      <div id="notes"></div>
    </div>
    
  {{/each}}

</section>