    <section id="title">
      <h1>New York Times Scraper</h1>
    </section>
     this is articles handlebars
    <section id="article-wrapper">
       
       {{#each article}}
       {{this}}
       {{/each}}
    </section>

