/**********************************/
 /** GLOBAL STYLES  **/
/**********************************/

body{
    background-image: url('images/NewsScraper_Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgba(0, 0, 0, 0.9);
    font-family: 'Montserrat', sans-serif;
    color:white;
}

#body-layer{
    /* background-color: rgba(80, 80, 80, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    size: inherit; */
}

#bold{
  font-weight:900;
  font-family: 'Roboto', sans-serif;
}

/**********************************/
 /** NAVIGATION  **/
/**********************************/

nav{
    background-color: rgb(25,156,251);
    color:white;
    display:flex;
    height:60px;
    justify-content: flex-start;
    align-items:center;
    font-size:14px;
}
nav button{
    background-color:rgb(247,54,38);
    height:70%;
    color:white;
    border-radius: 5px;
    font-size: 15px;
}

nav h2{
    font-size:24px;
}
h2, h3, h4 {
    margin:0 1%;
}

/**********************************/
/** Section  **/
/**********************************/
#title{
    display:flex;
    justify-content:center;
    align-items: center;
}
h1{
    margin:20% auto;
    color:white;
    font-size:70px;
}

h5{
  font-size:45px;
  text-align:center;
  width:80%;
  height:55px;
  border-radius:10px;
  margin:0 10%;
  padding:1%;
  background-color: rgb(25,156,251);
  text-decoration: underline;
}
hr{
  width:80%;
  border:1px white solid;
  margin-top:2.5%;
}

#article-wrapper{
  display:flex;
  flex-wrap: wrap;
}

.card{
  width:70%;
  background-color:white;
  color:black;
  font-size:15px;
  font-weight:bold;
  margin:2.5% 10%;
  padding:2% 5%;
  border-radius:10px;
}

#card-highlight{
  color:rgb(25,156,251);
  font-weight: 900;
  font-size:20px;
  margin-left:0;
  display:inline;
  font-family: 'Roboto', sans-serif;
}

#button-div{
  display:flex;
  justify-content: space-evenly;
  align-content: center;
  padding:0 10%;
}
.card button{
  background-color:rgb(25,156,251);
  color:white;
  border-radius:7.5px;
  height:32.5px;
  font-size:15px;
  margin-top:20px;
  /* flex-grow:.5; */
}

/**********************************/
/** Notes  **/
/**********************************/

#notes{
display:flex;
margin-top:20px;
}

form{
display:flex;
flex-direction:column;
width:100%;
}
form button{
  width:100px;
  justify-content: right;
}


/**********************************/
/** Footer  **/
/**********************************/

footer {
    background-color: rgb(48, 47, 41);
    height: 70px;
    width:100%;
    border-top: 3px rgb(25,156,251) solid;
    /* position:absolute; */
    bottom: 0;
  }
  
  footer img {
    width: 40px;
    text-align: center;
    margin: auto;
    position: relative;
  }
  
  .footer-container {
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  #github {
    border-radius: 50%;
    margin: 10px;
  }
  
  #linkedin {
    border-radius: 6%;
    margin: 10px;
    width: 35px;
  }
  
  #gmail {
    border-radius: 5%;
    margin: 10px;
    margin-bottom: 10px;
    width: 35px;
  }

  @media only screen and (min-width: 359px) and (max-width: 850px) {
    h1{
      font-size:50px;
      text-align:center;
    }
    
    #article-wrapper{
      display:block;
    }
    .card{
      width:80%;
      margin:2.5% 5%;
      padding:2% 5%;
    }

    h5{
      width:90%;
      margin:0 5%;
    
    }
    hr{
      width:90%;
    }
  }
